[Unit]
Description=Hub+ CZone Core Service
After=hub-startup.service

[Service]
EnvironmentFile=-/etc/hub/environmentfile
Type=simple
Restart=always
ExecStart=/usr/bin/hub/HubCZoneCore
RemainAfterExit=no
RestartSec=5

[Install]
WantedBy=multi-user.target
